body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #ededf8;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: #324155;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #ededf8;
  width: 100%;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1.1rem;
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin-top: 3rem;
}

.buttons .btn {
  margin: 1rem 0;
}

.view {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 20%;
      grid-template-columns: 75% 20%;
  gap: 5%;
  border-radius: 1rem;
}

.view > label {
  line-height: 2.5rem;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.alerta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 100%;
  background-color: #28cdaa;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
}

.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  text-transform: uppercase;
  background: url(../assets/img-header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #323232;
  background-blend-mode: soft-light;
}

.header .header_title {
  text-align: center;
  color: #ededf8;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: #ADA996;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#EAEAEA), color-stop(#DBDBDB), color-stop(#F2F2F2), to(#ADA996));
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main .columna-1 {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .columna-1 .column-add {
  height: 23rem;
}

.main .columna-1 .column-add .input-tarea-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main .columna-1 .column-add .input-tarea-container .input-tarea {
  display: block;
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  padding: 0 1rem;
  font-size: 1.9rem;
}

.subtitle {
  color: black;
  font-size: 2.5rem;
}

.icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.icon {
  cursor: pointer;
  width: 3rem;
}

.pendiente {
  background-color: #cb3725;
  border-radius: 1rem;
  color: #ededf8;
  margin: 1rem;
}

.completado {
  background-color: #28cdaa;
  color: black;
  border-radius: 1rem;
  text-decoration: line-through;
  margin: 1rem;
}

.animado {
  -webkit-transition: opacity, background-color 0.5s;
  transition: opacity, background-color 0.5s;
  -webkit-animation-name: mostrar;
          animation-name: mostrar;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes mostrar {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mostrar {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
  color: white;
  font-size: 8rem;
  -webkit-animation: moverArrow 3s ease infinite;
          animation: moverArrow 3s ease infinite;
}

@-webkit-keyframes moverArrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moverArrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  background: #ADA996;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#EAEAEA), color-stop(#DBDBDB), color-stop(#F2F2F2), to(#ADA996));
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main .columna-1 {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .columna-1 .column-add {
  height: 23rem;
}

.main .columna-1 .column-add .input-tarea-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main .columna-1 .column-add .input-tarea-container .input-tarea {
  display: block;
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  padding: 0 1rem;
  font-size: 1.9rem;
}

.subtitle {
  color: black;
  font-size: 2.5rem;
}

@media (min-width: 478px) {
  .buttons {
    display: -ms-grid;
    display: grid;
    gap: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn {
    width: 70%;
  }
}

@media (min-width: 768px) {
  body {
    max-height: 100vh;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .main {
    max-height: 100vh;
    overflow: overlay;
  }
  .arrow-link {
    display: none;
  }
  .subtitle {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  body {
    height: 100%;
  }
  body .main .input-tarea-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  body .main .input-tarea-container .input-tarea {
    width: 53rem;
  }
  body .main .buttons .btn {
    max-width: 15.5rem;
  }
  body .main .avatar-comment {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .main .btn-add-tarea {
    max-width: 20rem;
  }
  .pendiente {
    margin: 2rem;
  }
  .completado {
    margin: 2rem;
  }
  .subtitle {
    font-size: 3.6rem;
  }
}

@media (min-width: 1400px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */