@import "./variables";
@import "./mixins";
body {
  display: grid;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: $white;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: $secundary-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $white;
  width: 100%;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1.1rem;
  cursor: pointer;
}

.buttons {
  @include flex(flex, column, center, space-between);
  margin-top: 3rem;
  .btn {
    margin: 1rem 0;
  }
}
.view {
  padding: 1rem;
  display: grid;
  grid-template-columns: 75% 20%;
  gap: 5%;
  border-radius: 1rem;
}
.view > label {
  line-height: 2.5rem;
}
.visible {
  display: flex;
}
.hidden {
  display: none;
}
//Utilidades
.text-center {
  text-align: center;
}

.alerta {
  @include flex(flex, row, center, center);
  height: 5rem;
  width: 100%;
  background-color: $completado;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
}
