@import "./_mixins";
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../assets/fondo-noche.jpg");
  .column-add {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    .input-tarea-container {
      height: 100%;
      width: 100%;
      @include flex(flex, column, start, center);
      gap: 2rem;
      order: 1;
    }
  }
}

.columna {
  height: 100vh;
  .columna-1 {
    @include flex(flex, row, start, center);
    .btn-add-tarea {
      width: 100%;
    }
  }
}
.input-tarea {
  display: block;
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  padding: 0 1rem;
}

.avatar-comment {
  @include flex(flex, column, center, center);
  margin-top: 3rem;
  border: none;
  order: 0;
  .img-avatar {
    max-width: 20rem;
  }
}

.lista-tareas {
  margin-top: 3rem;
}
